</div>
 <footer class="bg-dark text-center text-light py-4 positon ">
  <!-- generated date according to the system date -->
  <% let date= new Date();
    let year= date.getFullYear();
  %>
   <h6> © <%= year %>  Certificates All rights reserved</h6>
 </footer>  
</body>
</html>